@media screen and (max-width: 1800px){


.nav-container {
  height: 80%;
  width: 100%;
  background-color: white;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 0 5vw;
  align-items: center;
  position:sticky;
   top: 0;
  z-index: 999; 
  overflow:hidden;
  margin-bottom: 50px;
}
}
.Navbar{
  background-color: black;}
.sign-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  color: #4a4a4a;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  font-size: 18px;
}
.sign-btn:hover{
  background-color: orange;
  transition: 0.5s;
}
.header {
  display: flex;
  justify-content:flex-end;
  width: 90%;
  padding-right: 5%;
  margin: 20px auto;
  margin-right: 50px;
  
}
.navbar {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar__item {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin: 5px 15px;
  color: white;
}
.navbar__item-active {
  margin: 5px 15px;
  font-size: 20px;
  border-bottom: 1px solid grey;
  color: orange;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
